[deb_servers]
debian_11_primary ansible_host=ansible_host ansible_user=root ansible_ssh_pass=password
debian_11_secondary ansible_host=ansible_host ansible_user=user ansible_ssh_private_key_file=/path/to/private/key/id_rsa
